#appHeader {
     text-align: center;
     color: blue;
     font-family: aqua;
     font-size: 72px;
} 
#createTransfer {
  background-color: blue;
  color: white;
  border: outset;
  font: oblique, normal, bolder, 22, verdana;
}
.multicol {

        -webkit-column-count: 6; /* Chrome, Safari, Opera */

        -moz-column-count: 6; /* Firefox */

        column-count: 6;

}
#myExportFolder {
  color: green;
}
